section {
  width: fit-content;

  margin: 16px;

  border: 1px solid black;
  border-radius: 4px;

  padding: 8px 16px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content;

  gap: 8px;

  min-width: 150px;
  max-width: 350px;

  width: 100%;
}

.full-width {
  grid-column: 1 / -1;
}
