<div>
  <h1>Employee Management</h1>
  <nav>
    <ul>
      <li>
        <a
          mat-flat-button
          color="primary"
          routerLink="employees-component"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Employees
        </a>
      </li>
      <li>
        <a
          mat-flat-button
          color="primary"
          routerLink="shifts-component"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Shifts</a
        >
      </li>
    </ul>
  </nav>
</div>
<router-outlet />
